@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

@* TODO 6 - display data stored in ViewBag *@
<h3>User logged in at: @ViewBag.LoginTime</h3>
<h3>User: @ViewBag.User has role @ViewBag.Role</h3>
<h3>All keys in the session:</h3>
@foreach (var key in ViewBag.Keys) {
    <h3>@key</h3>
}

<p>Use this page to detail your site's privacy policy.</p>
